table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: calc(header);
  }
  
header > h1 {
    font-family: 'Bowlby One', cursive;
    font-weight: 400;
    font-size: 6rem;
    text-align: center;
}
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  body {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
  }